NODE_ENV=development
PORT=4007
DATABASE_URL=postgresql://postgres:[Password]@db.xseknjupyvargmvktfpw.supabase.co:5432/postgres
JWT_ACCESS_SECRET=secret-key
JWT_REFRESH_SECRET=secret-key
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=30
CLIENT_ORIGIN=http://localhost:5173
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
